elpa/
elfeed/
eaf/
rime/
eshell/
eln-cache/
.local/
auto-save-list/
init.png
org-clock-save.el
org-roam.db
pyim/
recentf
request/
site-lisp/
tramp
transient/
url/
xenops/
.tags
.session
.org-id-locations
straight/
.uptimes.el
desktop/
